<h3>Portfolio</h3>
<div class="wrapper">
    <div class="portfolio">
        <figure class="right">
            <div class="card-img-top">
                <img src="./img/card1.jpg" alt="value of money">
            </div>
            <figcaption>
                <h2>Save Money</h2>
            </figcaption>
        </figure>
        <figure class="left">
            <div class="card-img-top">
                <img src="./img/card2.jpg" alt="value of money">
            </div>
            <figcaption>
                <h2>Money is important</h2>
            </figcaption>
        </figure>
        <figure class="right">
            <div class="card-img-top">
                <img src="./img/card3.jpg" alt="GMO Food">
            </div>
            <figcaption>
                <h2>GMO’s are unnatural</h2>
            </figcaption>
        </figure>
        <figure class="left">
            <div class="card-img-top">
                <img src="./img/card4.jpg" alt="GMO Food">
            </div>
            <figcaption>
                <h2>Agrobacterium</h2>
            </figcaption>
        </figure>
        <figure class="right">
            <div class="card-img-top">
                <img src="./img/card5.jpg" alt="The view of world in 2100">
            </div>
            <figcaption>
                <h2>Technology Advancement</h2>
            </figcaption>
        </figure>
        <figure class="left">
            <div class="card-img-top">
                <img src="./img/card6.jpg" alt="The view of world in 2100">
            </div>
            <figcaption>
                <h2>Robotics</h2>
            </figcaption>
        </figure>
    </div>
</div>
